* {
  border: none;
  font-family: JetBrains Mono,Ubuntu Nerd Font,Weather Icons,sans-serif;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: transparent;

}

tooltip {
  background: #181818; /* tooltip background */
  /*border: 2px solid #c0caf5; */
  border-radius: 6px; /* tooltip rounded corners */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

/*window > box {
  background: #181818;
  border-radius: 12px;
  min-width: 28px;
  margin: 2px;
  background-clip: border-box;
  transition-property: background-color;
  transition-duration: .5s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 1px 2px 1px rgba(0, 0, 0, 0.18), 0 2px 4px 2px rgba(0, 0, 0, 0.18);
}*/

#custom-memory,
#memory,
#cpu,
#custom-gputmp,
#custom-uptime,
#temperature,
#custom-weather,
#workspaces,
#custom-media,
#custom-fans,
#clock,
#network,
#custom-power,
#mode,
#pulseaudio,
#custom-kernel,
#custom-gentoo,
#custom-debian,
#custom-fedora,
#custom-arch,
#custom-network,
#window,
#custom-window,
#custom-eix,
#custom-update,
#disk,
#tray {
  background-color: #181818;
  padding: 0 6px;
  margin: 4px 4px 4px 4px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}

#pulseaudio {
  color: #f5c211;
}

#pulseaudio.muted {
  background-color: #e06c75;
}

#custom-gputmp {
  color:  #51a1ff;
}

#custom-memory {
  color: #9841bb;
}

#memory {
  color: #8FBF7F;
}

#cpu {
  color: #f5c211;
}

#custom-uptime {
  color: #5dbbc1; 
}

#temperature {
  color: #9841bb;
}

#temperature.critical {
  background-color: #e06c75;
  color: #1f1f1f;
}

#custom-kernel {
  color: #51a1ff;
}

#custom-weather {
  color: #5dbbc1;
}

#disk {
  color: #5dbbc1;
}

#custom-network {
  color: #e06c75;
}

#workspaces{
}

#workspaces button {
  padding: 1 0px;
  color: #51a1ff;
  transition-property: background-color; /* smooth transition for workspace module */
  transition-duration: .1s;
}

#workspaces button:hover {
  background-color: rgba(36, 36, 36, 0.9);
}

#workspaces button.active {
  color: #9841bb;
}

#workspaces button.focused {
  color: #9841bb;
}

#workspaces button.urgent {
  color: #e06c75;
}

#clock {
  color: #51a1ff;
}

#mode {
  color: #0fa4bf;
}

#window {
  color: #DDDAEC;
}

#custom-power {
  color: #f65866;
}

#custom-arch {
  font-size: 15px;
  font-family: CaskaydiaMono NF;
  color: #1793D1;
}

#custom-fedora {
  font-size: 18px;
  color: #50a4db;
}

#custom-gentoo {
  font-size: 13px;
  color: #ADA8D0;
}

#custom-debian {
  font-size: 15px;
  font-family: CaskaydiaMono NF;
  color: #D70751;
}

#custom-eix {
  color: #2ec27e;
}

#custom-update {
  color: #2ec27e;
}

#network {
  color: #9841bb;
}

#network.disconnected {
    color: #1f1f1f;
    background-color: #e06c75;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blink {
    to {
        color: #e06c75;
        background-color: #1f1f1f;
    }
}


